<html>    
	<head>        
		<title>Vue JS Hello World</title>   
		<link type="text/css" rel="stylesheet" href="css/main.css">
		<link type="text/css" rel="stylesheet" href="css/normalize.css"> 
	</head>    
	<body>
		<div id="app">
			<!-- <h1 v-show="heading">{{name}}</h1> -->
			<!-- <h1 v-if="heading">{{name}}</h1>
			<h1 v-else=>Hiding H1 header above</h1> -->
			<!--<form v-on:submit="onSubmitMethod"> 
			Use .prevent below to stop page refresh i.e. remember single page apps have no refresh 
			<form v-on:submit.prevent="onSubmitMethod">
				<button class="btn btn-primary">Submit</button>
			</form> 
			
			<li v-for="currentName,index in names">
				{{index}}: {{currentName.name}}
			</li>
			
			 <h1>{{ message }}</h1> <input v-model="message">
			 <span v-bind:class="className">{{ sometext }}</span> -->
			 
			   <hello :alert="alert"></hello>
			</div>    
			<template id="hello-world" >
				<div> 
			    	<h1>Vue JS Book Walkthrough</h1>
			    		<button v-on:click="alert" class="btn btn-default">Click Me!</button>
			    		<br />
			    		<br />	
			    		<p class="label label-primary">{{message}}</p>
			    	</div>
			</template>  
    </body>    
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<script src="https://unpkg.com/vue"></script> 
	<script type="text/javascript">    
	Vue.component("hello",{
			template: "#hello-world",
			props: ["alert"],
		}); 
	    new Vue({
	    	el: '#app',
	    	data: {
	    		message: 'Hi this Vue JS!'
	    	},
	    	methods: {
				alert: function () {
					alert(1);
				}
			}
	    })
		//App.name = "Cuck Utd";
	</script>
</html>
 
 